<style>
  * {
    margin: 0;
    padding: 0;
  }
  .salutation p {
    margin-top: 10px !important;
  }
  .footer-style {
    font-size: 13px; font-weight: 700;
  }
  .footer-style-medium {
    font-size: 13px; font-weight: 500; text-decoration: none;
  }
  .footer-style-small {
    font-size: 10px; font-weight: 400; color: #757575;
  }
</style>

<tr class="salutation">
  <td>
    <p>
      Regards,
    </p>
  </td>
</tr>
<tr>
  <td>
    <p>
      Information Services Team
    </p>
  </td>
</tr>
<tr>
  <td>
    <a href="tel:+2348117074094" class="footer-style-medium">
      +234 811 707 4094
    </a>
  </td>
</tr>
<tr>
  <td>
    <a href="https://fuelsgate.com" class="footer-style-medium" target="_blank">
      www.fuelsgate.com
    </a>
  </td>
</tr>
<tr>
  <td>
    <img src="https://www.fuelsgate.com/images/logo_gold.png" alt="Fuelsgate Logo" /> <i>Smart up...</i>
  </td>
</tr>
<tr>
  <td>
    <p class="footer-style-small">
      DISCLAIMER: This email and any attachment transmitted with it are confidential and intended solely for the use of the 
      individual or entity to which it is addressed. If you happen to have received this email in error, please delete this 
      email from your system and notify the sender immediately by email. If you have received this email by mistake, note that 
      disseminating, distributing, copying, printing, disclosing its contents or taking any action in reliance on the contents 
      of this email is strictly prohibited. Although <b><i>Fuelsgate</i></b> has taken reasonable precautions to ensure that no viruses are 
      present in this email and any attachment transmitted with it, <b><i>Fuelsgate</i></b> will not accept liability for any damage or loss 
      caused by any virus transmitted by this email. Emails cannot be guaranteed to be secure or error free as the message and 
      any attachments transmitted with it could be intercepted, corrupted, lost, delayed, incomplete or amended. Therefore, <b><i>Fuelsgate</i></b> 
      and the sender do not accept liability for any errors or omissions in the contents of this message, which arise as a result of
      email transmission. <b><i>Fuelsgate</i></b> accepts no liability for the content of this email or for the consequences of any actions taken on 
      the basis of the information provided, unless that information is subsequently confirmed in writing.
    </p>
  </td>
</tr>